.hex {
  transition: fill-opacity;
  transition-duration: 1s;
  cursor: pointer;
  fill-opacity: 0.6;
  stroke: #000;
  stroke-width: 1;
}
.hex:hover {
  fill-opacity: 1;
}
.forest{
  fill:url('#forest-bg');
}
.meadow{
  fill:url('#meadow-bg');
}
.mountains{
  fill:url('#mountains-bg');
}
.clay{
  fill:url('#clay-bg');
}
.wheat{
  fill:url('#wheat-bg');
}
.water{
  fill:url('#water-bg');
}
.desert{
  fill:url('#desert-bg');
}
.add{
  float: right;
  height: 35px;
}
#color{
  float: right;
}
