svg{
  background-color: aliceblue;
}
.hex {
  transition: fill-opacity;
  transition-duration: 1s;
  cursor: pointer;
  fill-opacity: 0.9;
  stroke: darkgray;
  stroke-width: 1;
}
.hex:hover {
  fill-opacity: 1;
  stroke: black;
}
.forest{
  fill:url('#forest-bg');
}
.meadow{
  fill:url('#meadow-bg');
}
.mountains{
  fill:url('#mountains-bg');
}
.clay{
  fill:url('#clay-bg');
}
.wheat{
  fill:url('#wheat-bg');
}
.water{
  fill:url('#water-bg');
}
.desert{
  fill:url('#desert-bg');
}
.village{
  fill:url('#village-bg');
}
.add{
  height: 35px;
}
.controls{
  float: right;
}
.line{
  stroke: rgb(255,0,0);
  stroke-width: 10px;
  stroke-opacity: 0.6;
}
line:hover{
  stroke-opacity: 1;
}
